<div class="nested-fields">
  <table>
    <tr>
      <td>
        <%= f.text_field :category %>
        <%= f.text_field :fitskill %>
        <%= f.number_field :count %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
      </td>
      <td>
        <%= link_to_remove_association "削除", f %>
    </tr>
  </table>
</div>