<%= form_with(model: training) do |f| %>
<% if training.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(training.errors.count, "error") %> prohibited this training from being saved:</h2>

  <ul>
    <% training.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :走行距離 %>
  <%= f.number_field :mileage %>
</div>

<div class="field">
  <%= f.label :消費kcal %>
  <%= f.number_field :kcal %>
</div>

<div class="field">
  <%= f.label :投稿日 %>
  <%= f.datetime_select :start_time%>
</div>

<div class="add-botton-box">
  <%= link_to_add_association "追加ボタン", f, :fitskills,
class: "fitskill_fields",
id: "add-btn",
data: {
association_insertion_node: "#detail-association-insertion-point",
association_insertion_method: "after" 
}
%>
</div>
<div id="detail-association-insertion-point"></div>

<%= f.fields_for :fitskills do |form| %>
<%= render "fitskill_fields", f: form %>
<% end %>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>