<table border>
  <thead>
    <th>名前</th>
    <th>メールアドレス</th>
    <th>作成日</th>
  </thead>
  <tbody>
    <td><%= @user.name %></td>
    <td><%= @user.email %></td>
    <td><%= @user.created_at %></td>
  </tbody>
</table>
<hr>

<table>
  <tr>
    <th><strong>カテゴリー</strong></th>
    <th><strong>フィットスキル</strong></th>
    <th><strong>回数</strong></th>
  </tr>
  <% @user.fitskills.each do |fitskill| %>
  <tr>
    <td><%= fitskill.category %></td>
    <td><%= fitskill.fitskill %></td>
    <td><%= fitskill.count %></td>
  </tr>
  <% end %>
</table>